
.verde{
    color: green;
}

.azul{
    color: blue;
}

.rojoOscuro{
    color: darkred;
}

.violeta{
    color: violet;
}

.azulOscuro{
    color: darkblue;
}

.rojo{
    color: red;
}

.img-fluid{
    width: 50%;
}